@use "../../sass/variables" as *;

.about__container {
    margin-inline: 4rem;
    color: $color-primary;
    margin-right: 6rem;
    margin-bottom: 30rem;

    @media screen and (width <=768px) {
        padding-inline: 0;
        margin-inline: 0;
        width: 90%;
    }
}