@use "../../sass/variables" as *;

.footer {
    background-color: $color-tertiary;
    color: $color-secondary;
    text-align: center;
    display: grid;
    place-items: center;
    gap: 2rem;
    padding: 70px;
    position: absolute;
    right: 0;
    left: 0;  
}


