@use "../../sass/variables" as *;

.apartment-page {
    color: $color-primary;
    width: 95%;
    margin: auto;

    h1 {
        font-weight: 500;
        font-size: 35px;
        margin-block: 0;
    }

    h2 {
        font-weight: 500;
        font-size: 18px;
        margin-top: 0.5rem;

        @media screen and (width <=768px) {
            font-size: 14px;
        }
    }
    
    .apartment__description__area {
        display: flex;
        gap: 2rem;
        overflow: hidden;
        margin-bottom: 25rem;
        margin-top: 2rem;

        @media screen and (width <=768px) {
            flex-direction: column;
            width: 90%;
            gap: 0;
        }
    }
}