@use "../../sass/variables" as *;

.grid {
    background-color: $grid-background;
    border-radius: 25px;
    display: flex;
    flex-wrap: wrap;
    gap: 3.5rem;
    padding: 1rem;
    margin: 2rem;
    margin-bottom: 3rem;
    justify-content: center;

    &>* {
        width: 100%;
        max-width: 340px;

        @media screen and (width <=768px) {
            max-width: 100%;
        }
    }
}


@media screen and (width <=768px) {
    .grid {
        background-color: $color-secondary;
        padding: 0;
        justify-content: center;
    }
}