@use "../../sass/variables" as *;

.grid {
    background-color: $grid-background;
    min-height: 50vh;
    border-radius: 25px;
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    padding: 1rem;
    justify-content: center;
    max-width: 1230px;

    &>* {
        width: 100%;
        max-width: 20rem;
        @media screen and (width <=768px) {
            max-width: 100%;
        }
    }
}

@media screen and (width <=768px) {
    .grid {
        justify-content: center;
        background-color: $color-secondary;
        padding: 0;
    }
}